.colorPalette-section {
    grid-area: palette;
    display: flex;
    flex-direction: row;
    button {
        top: 20px;
        left: 20px;
        position: absolute;
        outline: none;
        background: none;
        border: none;
    }
    img {
        height: 20px;
        width: 20px;
    }
}

// hello world

.color {
    width: 100%;
    position: relative;
    p {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%,-50%)
    }
}