.colorPalette-section {
    grid-area: palette;
    display: flex;
    flex-direction: row;
}

.color {
    width: 100%;
    position: relative;
    p {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%,-50%)
    }
}